@font-face {
  font-family: "Mont";
  src: url('./fonts/Mont/mont_extralightdemo.ttf');
}
.styel {

  background: #ffffff;
  max-width: 1400px;
  background: aqua;
  margin:  auto ;
  margin-left: auto;

}
.head {
  width: 1160px;
  height: 62px;
  display: -webkit-box;
  align-items: center;
  justify-content: space-between;
  margin: 43px 130px;

}
.head__name {
  position: relative;
    top: -10px;
  width: 144px;
  height: 36px;
  font-family: "Mont";
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 36px;
  color: #0b0614;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 30px;
}

.head__name-search {
  width: 58px;
  height: 20px;
  position: relative;
  left: 40px;
  top: -25px;
  font-family: "Mont";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: rgba(11, 6, 20, 0.3);
  flex: none;
  order: 1;
  flex-grow: 0;
  border: none;
}

.navigation {
  margin-top: 25px;
  margin-left: 200px;
}
.a {
  width: 48px;
  height: 20px;
  font-family: "Mont";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  margin-left: 40px;
  color: #0b0614;
  opacity: 0.8;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.btn_head {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  gap: 10px;
  width: 126px;
  height: 62px;
  background: #ff5029;
  border-radius: 12px;
  flex: none;
  order: 5;
  flex-grow: 0;
  font-family: 'Mont';
}
.btn_word {
  width: 126px;
  height: 62px;
  color: #ffffff;
  font-family: "Mont";
  margin-left: 70px;
  font-size: 17px;
position: relative;
  background: #ff5029;
  border-radius: 12px;
  border: 0px;

}
.photo_safari {

  width: 1260px;
  height: 740px;
  align-items: center;

  margin: 0px 70px; 
}
.feature_selection {
  display: -webkit-box;
  position: relative;

  width: 1140px;
  height: 128px;
  left: 130px;
top: -70px;
  background: #ffffff;
  box-shadow: 0px 30px 60px rgba(198, 191, 191, 0.18);
  border-radius: 24px;

}
.feature_selection-gender {
  width: 61px;
  height: 20px;
  font-family: "Mont";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin: 40px;
  color: #847d8c;
}
.feature_selection-gender-male {
  color: #0b0614;
  border: none;
  width: 143px;
}
.feature_selection-age {
  width: 61px;
  height: 20px;
  font-family: "Mont";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin: 40px;
  color: #847d8c;
}
.feature_selection-age-age {
  color: #0b0614;
  border: none;
  width: 143px;
  background: none;
}
.feature_selection-language {
  width: 61px;
  height: 20px;
  font-family: "Mont";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin: 40px;
  color: #847d8c;
}
.feature_selection-language-language {
  color: #0b0614;
  position: absolute;
  border: none;
  width: 143px;
}
.feature_selection-localisation {
  width: 61px;
  height: 20px;
  font-family: "Mont";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin: 40px;
  color: #847d8c;
}
.feature_selection-localisation-localisation {
  color: #0b0614;
  border: none;
  width: 143px;
}
.vl {
  border-left: 1px solid #0b0614;
  height: 30px;
  margin-top: 40px;
  margin-left: 100px;
}
.feature_selection-btn {
  position: absolute;
  width: 135px;
  height: 80px;
  left: 970px;
  top: 25px;
  border: none;
  background: #ff5029;
  border-radius: 16px;

  color: #ffffff;
  font-family: "Mont";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;

  text-align: center;
}
.greetings {

  font-family: "Mont";

  font-size: 64px;
  line-height: 70px;
  color: #0b0614;

  margin-left: 130px;
}
.greetings-btn {
  position: relative;
  top: -123px;
  left: 1060px;
  flex-direction: row;
  border: none;
  width: 209px;
  height: 70px;
  background: #ff5029;
  border-radius: 12px;
  color: #ffffff;
  font-family: "Mont";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;

}
.review{
  margin: 130px;
  display:flex;
  gap: 31px;
}
.review_abubakar{
  border: none;
  width: 265px;
  height: 396px;
  left: 130px;
  top: -70px;
  background: #ffffff;
  box-shadow: 0px 30px 60px rgb(198 191 191 / 18%);
  border-radius: 24px;
}
.review_abubakar:hover{
  background: #ff5029;

}
.review_ibra:hover{
  background: #ff5029;

}.review_lilia:hover{
  background: #ff5029;

}.review_tamara:hover{
  background: #ff5029;

}
.review_1{
  position: relative;
  margin: 31px 40px;
  top: -74px;
  left: -5px;
  border-radius: 90px;
  border: none;

}
.review_ibra{
  border: none;

  width: 265px;
  height: 396px;
  left: 130px;
  top: -70px;
  background: #ffffff;
  box-shadow: 0px 30px 60px rgb(198 191 191 / 18%);
  border-radius: 24px;
}
.review_2{
  margin: 31px 40px;
  position: relative;
  top: -74px;
  left: -5px;
  border-radius: 90px;

}
.review_lilia{
  border: none;

  width: 265px;
  height: 396px;
  left: 130px;
  top: -70px;
  background: #ffffff;
  box-shadow: 0px 30px 60px rgb(198 191 191 / 18%);
  border-radius: 24px;
}
.review_3{
  margin: 31px 40px;
  position: relative;
  top: -74px;
  left: -5px;
  border-radius: 90px;

}
.review_tamara{
  border: none;

  width: 265px;
  height: 396px;
  left: 130px;
  top: -70px;
  background: #ffffff;
  box-shadow: 0px 30px 60px rgb(198 191 191 / 18%);
  border-radius: 24px;
}
.review_4{
  margin: 31px 40px;
  position: relative;
  top: -74px;
  left: -5px;
  border-radius: 90px;

}